* {
    margin: 0;
    padding: 0;
    /* border: solid black; */
  }
  
  .container {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar article"
    "sidebar article"
    "sidebar article";
  }
  
  .container div {
    padding-top: 15px;
    padding-right: 15px;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }


  /* Sidebar of the Dashboard */
  .sidebar {
    background-color: #1892d4;
    display: grid;
    color: white;
    /* gap: 15px; */
    grid-area: sidebar;
    grid-template-rows: 0.5fr 2fr 3fr ;
    grid-template-areas: 
    "logo"
    "main-menu" 
    "settings";
  }
  .sidebar div {
    color: white;
  }

  .logo {
    grid-area: logo;
    justify-content: center;
    align-content: center;
    display: flex;
    gap: 15px;

  }
  .logo svg{
    fill: white;
    width: clamp(40px, 25px, 10px);
    height: clamp(40px, 25px, 10px);

  }

  .main-menu {
    grid-area: main-menu;

  }
.main-items {
  grid-area: title;
}

.item {
  padding-left: 25px;
  text-align: left;
  display: flex;
  gap: 15px;
  flex-direction: row nowrap;
  align-content: center;
}

.main-item {
  align-self: center
}
  .main-menu ul {
    font-size: 0.5em;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 15px;
  list-style: none;
  }


  .settings ul {
    font-size: 0.5em;
    text-align: left;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
  list-style: none;
  }

.main div {
  padding: 10px;

}
/* Header right section */
  .header {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-row: 1fr 1.5fr;
    grid-template-areas: 
    "search search"
    "profile profile";
  }

  .nav {
    grid-area: search;
    display: grid;
    grid-template-columns: 2fr 0.5fr;
  }

  .search ul {
    gap:25px;
    list-style: none;
    display: flex;
    align-content: stretch;
    justify-content: stretch;
  }

  #myInput {
    background-color: #e2e8f0 ;
    background-image: url(search); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    border-radius: 25px;
    /* margin-bottom: 12px; Add some space below the input */
  }

  .profile {
   display: flex;
   gap: 25px;
   justify-content: center;
   align-content: center;
  }

.notification img{

}
.profile img{
  width: clamp(35px, 25px, 10px);
  height: clamp(35px, 25px, 10px);
  align-self: center;
}

.profile p {
  /* No wrapping of the Username */
  overflow: hidden; white-space: nowrap;
  font-size: 0.4em;
  align-self: center;
}

.profile svg {
  align-self: center;
}

button {
  border-radius: 25px;
  width: clamp(100px, 75px, 50px);
  height: clamp(40px, 30px, 15px);
  background-color: #1892d4;
  color: white;
  font-size: 0.4em;
  font-weight: bold;
  border: none;
}

  .user {
    grid-area: user;
    display: grid;
    grid-template-areas: 
    "pb welcome"
    "pb username";
    align-content: start;
    justify-content: start;
    gap: 5px;
    height: 60px;
    text-align: left;
  }
.welcome {
  display: grid;
  grid-template-rows: 0.5fr 0.75fr;
}

#pb-bigger {
  grid-area: pb;
  width: clamp(60px, 50px, 25px);
  height: clamp(60px, 50px, 25px);
}
#message {
  grid-area: welcome;
  justify-self: start;
  font-size: 0.3em;
  align-self: end;
}

#username {
  grid-area: username;
  justify-self: start;
  font-size: 0.5em;
  overflow: hidden; white-space: nowrap;
}
.welcome p {
  justify-self: start;
  font-size: 0.55em;
  overflow: hidden; white-space: nowrap;
}
  
  .update {
    grid-area: profile;
    display: grid;
    grid-template-areas: 
    "user actions";
    align-content: center;
  }
  .update ul {
    display: flex;
    flex-direction: row nowrap;
    gap: 25px;
    justify-content: center;
  list-style: none;
  }

  /* Projectarea */
  .title p {
      padding: 5px;
      text-align: start;
      font-weight: 400;
      font-size: 0.6em;
    }

  .board {
    background-color: #e1e8f0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "projects announcements"
    "projects trending";
    grid-template-rows: auto;
    padding-bottom: 50px;
    padding-left: 25px;
    
  }

  .article {
    grid-area: article;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 25px;
  }

  .article p {
    font-size: 18px;
    font-family: sans-serif;
    color: white;
    text-align: left;
  }
  
  .article .card {
    border-left: solid 10px #f0b42a;
    height: 200px;
    background-color: #FFFFFF;
    color: black;
    text-align: left;
  }
  
  .card p {
    color: black;
    font-weight: normal;
    font-size: 14px;
    padding: 5px;
  }
  
  .card .title {
    font-size: 18px;
    text-align: left;
    font-weight: 700;
  }
  .right-sidebar {
    display: grid;
    grid-template-rows: 0.5fr 0.8fr

  }

  .news-block {
    display: grid;
    background-color: white;
    border-radius: 5px;
    grid-template-rows: 1fr 1fr 1fr;
  }


  /* Announcement Block */

  .announcements p {
    padding: 5px;
    text-align: start;
    font-weight: 400;
    font-size: 0.6em;
  }
  .news {
    padding-left: 5px;
  }
  .news .news-item {
    font-size: 14px;
    text-align: left;
    font-weight: 700;
  }

  .news .information-item {
    color: black;
    font-weight: normal;
    font-size: 12px;
    padding-bottom: 16px;
    padding-top: 8px;
    text-align: left;
  }
/* Trending Block */
  div.users {
    align-content: start;
    justify-content: start;
  }
  .trending p {
    padding: 5px;
    text-align: start;
    font-weight: 400;
    font-size: 0.6em;
  }
  .posts {
    background-color: #FFFFFF;
    border-radius: 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .users {
    display: grid;
    grid-template-areas: 
    "picture username"
    "picture title";
    height: 60px;
    text-align: left;
  }
  .users > img {
    grid-area: picture;
    justify-self: end;
    align-self: center;
    padding: 5px;
    width: clamp(50px, 25px, 10px);
    height: clamp(50px, 25px, 10px);

  }

  /* .users hr {
    text-align: center;
    background-color: grey;
    border: solid grey;
  } */
  .nickname {
    grid-area: username;
  }

  .users .nickname {
    align-self: end;
    color: black;
    font-size: 0.5em;
  }
  .project {
    grid-area: title;
  }
  .users .project {
    color: gray;
    font-size: 0.5em;
  }
  .icons {
    display: flex;
    flex-direction: row nowrap;
    justify-content: flex-end;
    align-content: fle;
  }
  /* Google Icons */

  @font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }
  
  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }